nav.pagination {

    ul {
      display: flex;
      gap: 20px;
      justify-content: center;
      cursor: pointer;
  
      li {
        border: 1px solid #2f5aff;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
  
        &.prev, &.next {
          background-color: #263053;
        }

        &.current{
          background: #2f5aff;
        }

        &:hover{
            background: #2f5aff;
        }
      }
    }
  }